.c4-wrap{
    width: 37rem;
    height: 19.5rem;
    background: #000;
    border-radius: 2rem;
    margin-top: 1rem;
}
.c4-wrap:nth-child(3){
    background: #f6f6f6;
    height: 17rem;
}
.c4-wrap:nth-child(4){
    background: linear-gradient(180deg, #fff2af 0%, #dcc290 100%);
    height: fit-content;
}
.c4-wrap-grad{
    background: radial-gradient(125.74% 128.13% at 81.43% 22.86%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    border: 1px solid #4d4d4d;
    padding: 2.2rem 1.8rem 2.8rem 2.5rem;
}
.c4-head-text{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 129%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff2af;
    margin-bottom: 1.2rem;
}
.c4-black{
    color: #000 !important;
}
.c4-black2{
    color: #4D4837 !important;
}
.c4-price{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1rem;
}
.c4-btn-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.c4-btn-wrap p{
    font-family: var(--font-family);
        font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    color: #fff;
}
.c4-btn{
    width: 10.6rem;
    height: 3.8rem;
    border-radius: 15rem;
    background-color: #FFF2AF;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 157%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #4d4837;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.c4-btn2{
    background-color: #000000 !important;
    color:#FFF2AF;
}
.c4-btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0 !important;
}
.c4-point{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 3rem;
}
.c4-point img{
    width: 2rem;
    height: 2rem;
}
.c4-point p{
    text-align: center;
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
text-align: center;
color: #fff;
}
.c4-full-wrap{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.c4-first-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.c4-btn-wrap p{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding-top: 0.4rem;
}
.c4-btn-wrap span{
    font-family: var(--third-family);
font-weight: 400;
font-size: 5rem;
line-height: 100%;
text-transform: uppercase;
color: #fff;
}

.c4-third-wrap{
    display: flex;
    justify-content: space-between;
    padding-right: 2.2rem;
}
.c4-third-wrap span{
    font-family: var(--third-family);
font-weight: 400;
font-size: 5rem;
line-height: 100%;
text-transform: uppercase;
color: #4d4837;
}
.c4-third-head{
    font-family: var(--font-family);
font-weight: 600;
font-size: 1.4rem;
line-height: 129%;
color: #4d4837;
}
.c4-third-under{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    color: #4d4837;
    margin-top: 0.6rem;

}
.c4-third-text-wrap{
    display: flex;
    gap: 1.2rem;
    align-items: center;
    margin-top: 3rem;
}
.c4-third-text-wrap p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 129%;
    color: #4d4837;
}
.c4-third-text-wrap img{
    width: 3rem;
    height: 3rem;
}
.c4-wrap ul{
    list-style-type: disc;
    padding-left: 6rem;
    margin-top: 2.1rem;
    margin-bottom: 2.6rem;
}
.c4-wrap li::marker{
    font-size: 1.2rem;
}
.c4-wrap li{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
color: #4d4837;

}

.c4-guarantee{
    width: 37rem;
    height: 14.3rem;
    background-image: url(../../images/c4-guarantee.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 2.9rem 4.4rem 3.1rem 14.5rem;
    margin-top: 5rem;
}
.c4-guarantee-head{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 129%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 1.5rem;
}
.c4-guarantee-main{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    color: #fff;
}
.slider-turn{
width: 37rem;
height: 20.1rem;
background-image: url(../../images/slider-bg.png);
background-repeat: no-repeat;
background-size: contain;
padding: 9.9rem 2.7rem 3.5rem 2.7rem;
margin-top: 10rem;
}
.slider-turn-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    text-align: center;
    color: #fff;
    margin-bottom: 2.2rem;
}
.slider-turn-accent{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 129%;
    text-transform: uppercase;
    text-align: center;
    color: #fff2af;
}
.c4-header-btn{
        background: linear-gradient(180deg, #fff2af 0%, #dcc290 100%);
        border-radius: 1rem;
        stroke-width: 2px;
        stroke: rgba(255, 255, 255, 0.2);
        box-shadow: inset 0 4px 20px 0 #fff6d6;
        width: 36.9rem;
        height: 8.8rem;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 137%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #4d4837;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.9rem;
        margin-bottom: 2.8rem;
}