.c2 {
    padding-top: 8.6rem;
    background-image: url(../../images/c2-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
}
.c2-wrap{
    margin-bottom: 5rem;
}
.c2-undertitle{
    font-family: var(--font-family);
font-weight: 600;
font-size: 1.4rem;
line-height: 143%;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: 3rem;
margin-bottom: 5rem;
}
.c2-wrap-title{
    font-family: var(--second-family);
font-weight: 400;
font-size: 3rem;
line-height: 233%;
text-transform: uppercase;
text-align: center;
color: #fff;
margin-top: -4rem;
z-index: 1;
position: relative;
}
.c2-wrap-text{
    display: flex;
    gap: 1.6rem;
    padding-left: 4rem;
    align-items: flex-start;
    margin-bottom: 0.7rem;
}
.c2-wrap-text p{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 143%;
color: #fff;
}
.c2-wrap-text img{
    width: 2rem;
    height: 2rem;
}
.c2-01{
    width: 12.3rem;
    height: 10.9rem;
}
